@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Sanchez&display=swap');
* {
    margin: 0;
    padding: 0;
    flex-shrink: 2;
}

body {
    background-color: #D8D4C4;
    overflow-x: hidden;
}

a {
    justify-content: space-around;
    text-decoration: none;
    color: #000000;
}

img {
    color: wheat;
    text-wrap: wrap;
}
header nav ul {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    background: #286454;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3em;
    font-family: 'Sanchez', serif;

}
li {
    padding-left: 5%;
    padding-right: 5%;
}

li>a {
    color: rgb(223, 59, 34);
}

.carousel-container {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    white-space: nowrap;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides {
    display: flex;
    overflow-y: hidden;
    /* Hide the scroll bar beneath slides on non-touch devices */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}


#InStore {
    background-image: url(/images/WebImages/giftshop1.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

#For_Kids {
    background-image: url(/images/WebImages/kidsbg1.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

#Best_Sellers {
    background-image: url(/images/WebImages/giftshop2.jpg);
    background-blend-mode: lighten;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

#Books {
    background-image: url(/images/WebImages/books_bg.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

#Misc {
    background-image: url(/images/WebImages/jungle_bg.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

#Online {
    background-image: url(/images/WebImages/mines_bg.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}


.slides::-webkit-scrollbar-thumb {
    background: #A01C24;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

button {
    background-color: #A01C24; 
    color: white;
    padding: 3px 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5%;
    border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}
button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
button:hover {
    cursor:pointer;
}

.product>div {
    scroll-snap-align: start;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    background: #000000;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
}

.slides>div>img {
    object-fit: contain;
    position: center;
    padding: 2px;
    top: 0;
    left: 0;
    background: #000;
    border-color: #000;
    border-style: none;
    margin-bottom: 5%;
}

.product {
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
    padding-right: 5%;
    padding-left: 5%;
    width: 20%;
    height: 20%;
    transition: scale 0.2s;
}

.product>a {
    text-decoration: none;
    color: #f5eded;
}

.product:hover {
    scale: 103%;
}

.product>a>h2, .product>a>h3 {
    display: flex;
    align-self: flex-start;
    margin-left: 1%;
    font-size: 1.5vw;
}

.banner>img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: 25% 18%;
    border-style: solid;
    border-color: #286454;
}

.banner>img::before {
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.logo>img {
    width: 17%;
    height: 17%;
    border-color: #fcba03;
    border-style: solid;
    border-radius: 7px;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 25%;
    z-index: 0;
}

.pagewrapper {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.dropdowncontent>p {
    overflow-wrap: break-word;
    font-size: 10px;
    width: 25%;
    height: 25%;
}

#NFTs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #FFFCF4;
    border-radius: 5px;
}

h2,
h3 {
    display: flex;
    flex-direction: row;
}

.scrolltitles {
    font-size: xx-large;
    padding-top: 1%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem;
    padding: 1%;
    /* padding-left:1em; */
    /* padding-top: 2em;*/
}
.headerItem {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
}

.headerItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    border-radius: 50px;
}

.headerItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

@media only screen and (max-width:640px) {
    header nav ul{
        flex-wrap: wrap;
        font-size: 30px;
        padding-left: 35%;
        padding-right: 35%;
    }   

    .banner>img {
        height: 300px;
        width: 98.8%;
        max-width: 98.8%;
        align-content: center;
    }

    .logo>img {
        width: 35%;
        max-width: 640px;
        height: 35%;
    }

    .logo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-self: center;
        top: 28%;
        z-index: 0;
        max-width: 640px;
    }

    h3>img {
        height: 1em;
        width: 1em;
    }

    .slides::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .product>a>h2, .product>a>h3 {
        display: flex;
        align-self: flex-start;
        margin-left: 1%;
        font-size: 3vw;
        color: #fffef8;
    }

    .product {
        padding-right: 10%;
        padding-left: 10%;
        width: 40%;
        height: 40%;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem;
        padding: 1%;
        /* padding-left:1em; */
        /* padding-top: 2em;*/
        font-size: 9px;
    }

    #NFTs .images img {
        max-width: 65px;
    }
}