* {
    box-sizing: border-box;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #286454;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3em;
    
}
.carousel-container {
    padding-top: 2%;
    padding-bottom: 2%;
    width:350%;
    position: relative;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides {
    display: flex;
    overflow-y: hidden; /* Hide the scroll bar beneath slides on non-touch devices */
    overflow-x: scroll;
    scroll-snap-type: x;
    scroll-behavior:smooth;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.product>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 10%;
    height: 10%;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides>div>img {
    object-fit:cover;
    position: center;
    padding: 2px;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #000;
    border-color: #000;
    border-style:none;
}
.currency::before {
    display: block;
    height: 2em;
    width: 2em;
    background-image: url(images\JurassicPAY.png);
    background-size: cover;
    content: "";
}

.product {
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
}

.product>h2 {
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
}

.dropdowncontent {
    font-size: 10px;
}