* {
    margin: 0;
    padding: 0;
    flex-shrink: 2;
}

.productpagewrapper>img {
    border-color: #286454;
    border-style: solid;
    border-radius: 7px;
    margin-right: 5%;
    width: 30%;
    height: 30%;
}
.productpagewrapper {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.productbuttons {
padding-left: 3.5%;
padding-right: 7.5%;
flex-flow: column;
align-items: center;
}
.productdescription {
padding-left: 1%;
}
button,
.abutton {
    background-color: #A01C24; 
    color: white;
    padding: 35px 115px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    margin-bottom: 5%;
    border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:active
.abutton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
button:hover,
.abutton:hover {
    cursor:pointer;
}
p {
    margin-top: 5%;
    font-size: 2.5vh;
    text-wrap: wrap;
    margin-right: 25%;
}
h2,
h3>strong {
    font-size: 4vh;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vh;
}
.instore {
        background-color: #286454; 
        color: white;
        padding: 35px 75px;
        text-align: center;
        display: inline-block;
        font-size: 28px;
        border: none;
      border-radius: 15px;
}
#product {
    display: flex;
    flex-direction: row;
}
img {
    max-width: 500px;
    max-height: 500px;
}
.abutton {
    height: 1%;
    margin-top: 5%;
    margin-right: 5%;
}
.line {
    padding-left: 5%;
}
@media only screen and (max-width:640px) {
    #product {
        flex-flow: column wrap;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .prodImage {
        width: 400px;
    }
}